<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mainpage</title>
    <style type="text/css">
        form > *{
            display: block;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Rym Box!</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="query">Enter a word here and get 5 words that rhyme with your word.</label>
        <input id="query" type="text" name="query">
        <input type="submit" name="submit">
    </form>
    <p>Rhymes for: {{query}} ({% if not from_cache %}not {% endif %}from cache)</p>
    {% if words %}
    <ul>
        {% for dict in words %}
            <li>{{dict.word}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Nothing found</p>
    {% endif %}

</body>
</html>
